.jumbotron(style="padding-top: 2px; padding-bottom: 20px;")
    h1(style="text-align: center")
        small
            i.glyphicon.glyphicon-cog
        |  Mission Control
        small
            i.glyphicon.glyphicon-cog
div
    .row
        .container.col-sm-12
            modes-directive
    .row
        .container.col-sm-6
            list-devices-directive
        .container.col-sm-6
            weather-directive
            //div
                .panel.panel-warning
                    .panel-heading
                        h3.panel-title Nästa tur
                    .panel-body
                        p Påvelund
                        p Käringberget