.container(ng-repeat='device in deviceController.devices track by $index')
    .col-md-4
        .panel.panel-success
            .panel-heading
                h3.panel-title {{device}}
            .panel-body
                //div {{$index}} - {{deviceController.radioModel[$index]}}
                hr
                div.btn-group(role='group')
                    button.btn.btn-default(type='button', ng-model="deviceController.radioModel[$index]", uib-btn-radio="'OFF'") Off
                    button.btn.btn-default(type='button', ng-model="deviceController.radioModel[$index]", uib-btn-radio="'ON'") On